<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HabitAqui</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />
</head>
<body class="d-flex h-100 text-center  bg-white p-0 m-0">
    <div class="cover-container d-flex w-100 h-100 p-0 mx-auto flex-column">
        <header class="p-7 text-white">
            <div class="container">
	             <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3 fixed-top" style="background: rgb(20, 20, 20);">
                    <div class="container" >
                        <a class="navbar-brand text-warning" asp-area="" asp-controller="Home" asp-action="Index"><svg bootstrap-icon="House" class="text-warning" width="48" height="48" aria-label="SignTurnRightFill"></svg> <strong>HabitAqui</strong></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                                </li>                                
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contactos">Contactos</a>
                                </li>
	                            <li class="nav-item">
		                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">Quem Somos?</a>
	                            </li>
                               
								@if (User.Identity.IsAuthenticated && !User.IsInRole("Inativo"))
								{
									<li class="nav-item">
										<a class="nav-link text-white" asp-area="" asp-controller="Habitacao" asp-action="Index">Habitações</a>
									</li>
								}
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Arrendamentos" asp-action="Index">Arrendar</a>
                                </li>
								<li class="nav-item">
									<a class="nav-link text-white" asp-area="" asp-controller="Avaliacoes" asp-action="Index">Avaliações</a>
								</li>
								@if (User.IsInRole("Admin"))
								{
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="False" >
											Admin
										</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" asp-controller="UserRolesManager" asp-action="Index">Gerir Users Roles</a></li>
											<li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="RoleManager" asp-action="Index">Gerir Roles</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="Categorias" asp-action="Index">Gerir Categorias</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="Empresa" asp-action="Index">Gerir Empresas</a></li>
										</ul>
									</li>
								}
                                @if (User.IsInRole("AdminEmpresa"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="False">
                                            Admin da Empresa
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Empresa" asp-action="AddUserEmpresa">Adicionar Trabalhador</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="Empresa" asp-action="ListaEmpresa">Informação da Empresa</a></li>
                                        </ul>
                                    </li>
                                }
                                @if (User.IsInRole("Gestor"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="False">
                                            Gestor da Empresa
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Empresa" asp-action="ListaEmpresaGestor">Informação de Trabalhadores da Empresa</a></li>
                                        </ul>
                                    </li>
                                }
                                @if (User.IsInRole("Gestor") || User.IsInRole("Funcionario"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="False">
                                            Gestor da Empresa
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Habitacao" asp-action="ParqueIndex">Parque de Habitações</a></li>
                                        </ul>
                                    </li>
                                }
                                @if (User.IsInRole("Gestor") || User.IsInRole("Funcionario"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="False">
                                            Gerir Arrendamentos
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Arrendamentos" asp-action="ReservaAceita">Aceita / Recusa</a></li>
                                        </ul>
                                    </li>
                                }
                                @if (User.IsInRole("Cliente"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="False">
                                            Ver e gerir arrendamentos
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Arrendamentos" asp-action="ReservarCliente">Fazer reserva</a></li>
                                            <li><a class="dropdown-item" asp-controller="Arrendamentos" asp-action="MeusArrendamentos">Meus arrendamentos</a></li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <main class="container mt-5 pt-5 text-start">
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - HabitAqui - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
