@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            @{
                ApplicationUser user = await UserManager.GetUserAsync(User);
            }
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @if (user != null && user.Fotografia != null && user.Fotografia.Length > 0)
                {
                    <img id="MinhaFoto" src="data:image/*;base64,@(Convert.ToBase64String(user.Fotografia))" class="img-thumbnail" style="max-width: 30px; max-height: 30px;" />
                }
                else
                {
                    <img id="MinhaFoto" src="/img/user.png" class="img-thumbnail" style="max-width: 30px; max-height: 30px;" />
				}
				@User.Identity?.Name!
            </a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">                        
            <a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Register">REGISTO</a>
    </li>
    <li class="nav-item">
            
            <a class="btn btn-outline-light ms-2 me-2" asp-area="Identity" asp-page="/Account/Login">ENTRAR</a>
    </li>
}
</ul>
