@model Ficha1_P1_V1.Models.Avaliacao

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Criar</h1>

<h4>Avaliação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Classificacao" class="control-label"></label>
                <select asp-for="Classificacao" asp-items="Html.GetEnumSelectList<TipoClassificacao>()" class="form-control">
                    <option value="">Selecione o tipo</option>
                </select>
                <span asp-validation-for="Classificacao" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="ArrendamentoId" class="control-label"></label>
                @if (ViewBag.ArrendamentoId != null)
                {
                    <select asp-for="ArrendamentoId" class="form-control" asp-items="ViewBag.ArrendamentoId">
                        <option value="">Selecione o arrendamento</option>
                    </select>
                }
                else
                {
                    <p class="text-danger">Sem arrendamentos.</p>
                }
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
<br />
