@{
    ViewData["Title"] = "Quem Somos?";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>
	A HabitAqui é uma das principais empresas de aluguel em Portugal!
<br />
    Fundada em 2003, somos uma referência no mercado de aluguel, oferecendo métodos modernos e eficientes e uma equipe de profissionais altamente capacitados para garantir a melhor experiência em aluguel possível!
    <br />
<p class="text-danger">Casas, apartamentos, tu escolhes, nós temos!</p>
<br />
<a href="mailto:info@autoweb.pt">Contacte-nos</a> ou explore o nosso site para encontrar a opção perfeita para as suas necessidades de aluguel!
</p>
