@{
    ViewData["Title"] = "Quem Somos?";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 class="text-primary">@ViewData["Title"]</h1>

<div class="text-justify">
    <p>
        Bem-vindo à HabitAqui, a sua solução de aluguel favorita em Portugal!
    </p>

    <p>
        Fundada com paixão em 2003, a HabitAqui é o resultado do trabalho árduo e dedicação de três visionários:
    </p>

    <ul>
        <li>Daniel Bravo - 2021137795</li>
        <li>Flávio Rodrigues - 2020137206</li>
        <li>Ricardo Tavares - 2021144652</li>
    </ul>

    <p class="text-danger">Na HabitAqui, não oferecemos apenas casas e apartamentos; proporcionamos lares feitos sob medida para atender às suas necessidades!</p>

    <p>
        Explore as nossas opções ou <a href="mailto:info@habitaaqui.pt">contacte-nos</a> diretamente. Estamos aqui para tornar o processo de aluguel tão simples e agradável quanto possível.
    </p>

    <div class="text-center">
        <img src="/img/logotipoIsec.jpg" alt="Logo do ISEC" style="max-width: 200px; margin-top: 20px;" />
        <p class="mt-2">Orgulhosamente associados ao Instituto Superior de Engenharia de Coimbra (ISEC) e inspirados pela cadeira de Programação Web.</p>
    </div>
</div>