@{
    ViewData["Title"] = "Quem Somos?";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>
A AutoWEB é uma das principis Escolas de Condução portuguesas!
<br />
Fundada em 2001, somos o espelho de um novo século com novas metodologias de condução, viaturas novas e modernas e instrutores em constante formação para lhe proporcionar a melhor experiência em formação de condução possível! 
<br />
<p class="text-danger">Carro, Mota, Camião, tu escolhes, nós ensinamos!</p>
<br />
<a href="mailto:info@autoweb.pt">Contacte-nos</a> ou visite uma das nossas escolas!
</p>
