@{
    ViewData["Title"] = "Contactos";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>AutoWEB - Escolas de Condução, S.A.</p>
<p>
Sede: Rua de Cima, 30
<br />
3000-100 Coimbra
<br />
Mail: info@autoweb.pt
<br />
Telefone: 239 234 900
    <br /><br />
Filiais em: Figueira da Foz, Mira, Cantanhede, Mealhada, Porto e Lisboa
</p>
