@model IEnumerable<Ficha1_P1_V1.Models.Habitacao>

@{
	Layout = "_Layout";
}
@{
	ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="pt-pt">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - HabitAqui</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />
</head>
<body class="d-flex h-100 text-center  bg-white p-0 m-0">
	<div class="container-fluid bg-white mt-4">
		<div id="carouselDestaques" class="carousel slide m-0" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="0"
						class="active" aria-label="Slide 1" aria-current="true"></button>
				<button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="1" arialabel="Slide 2" class=""></button>
				<button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="2" arialabel="Slide 3" class=""></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active banner_01">
					<div class="container">
						<div class="carousel-caption">
							<h1 class=" text-warning">Encontra a casa ideal!</h1>
							<p class=" text-white">Para os diferentes gostos e nos mais variados locais.</p>
							<!-- Link para a página "About" -->
							@Html.ActionLink("Junta-te a nós", "About", "Home", null, new { @class = "btn btn-lg btn-warning" })
						</div>
					</div>
				</div>
				<div class="carousel-item banner_06">
					<div class="container">
						<div class="carousel-caption text-white">
							<h1>Alugar casa.</h1>
							<p>

								Venha colaborar conosco neste mundo que é o mercado de aluguer<br />
								Coloque a sua casa a arrendar e ganhe uma renda extra!
							</p>
							<!-- Verificar se o usuário está autenticado antes de mostrar o link -->
							@if (!User.Identity.IsAuthenticated)
							{
								<!-- Link para a página de registro -->
								@Html.ActionLink("Regista-te!", "Register", "Account", null, new { @class = "btn btn-lg btn-success" })
							}
						</div>
					</div>
				</div>
				<div class="carousel-item banner_02">
					<div class="container">
						<div class="carousel-caption text-end">
							<h1>Muitas casas para você conhecer.</h1>
							<p>Temos a maior oferta de casas para arrendamento do país</p>
							<p><a class="btn btn-lg btn-primary" href="#">Conhecer</a></p>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselDestaques"
					data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselDestaques"
					data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<div class="container bg-white mt-4">
			<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
				<h1 class="display-4 fw-normal">Oferta & Preços</h1>
				<p class="fs-5 text-muted">
					Na nossa plataforma de alojamento residencial,
					oferecemos uma ampla variedade de opções para atender às tuas necessidades de habitação e orçamento.
					Independentemente de estares à procura do teu próximo lar ou de um novo local para viver,
					temos a solução certa para ti.
				</p>
			</div>
			@using (Html.BeginForm("Pesquisa", "Arrendamentos", FormMethod.Post))
			{
				<div class="col-30 mx-auto mt-2">
					<div class="mx-auto">


						<form method="post">
							<div class="col-md-7 mx-auto">
								<div class="row ">
									<div class="col-md-6">
										<div class="form-group">
											<label for="TextoAPesquisar" class="control-label">Localização:</label>
											<input type="text" id="TextoAPesquisar" name="TextoAPesquisar" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="Tipo" class="control-label">Tipo:</label>
											<select name="Tipo" asp-items="Html.GetEnumSelectList<TipoHabitacao>()" class="form-control">
												<option value="">Selecione o tipo</option>
											</select>
											<span class="text-danger"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-7 mx-auto">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="dataInicio">Data de Início:</label>
											<input type="date" name="dataInicio" class="form-control" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="dataFim">Data de Fim:</label>
											<input type="date" name="dataFim" class="form-control" />
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-7  mx-auto mb-5">
								<div class="row ">
									<div class="col-md-6">
										<div class="form-group ">
											<!-- Adicione a classe "mb-0" para remover a margem inferior -->
											<label for="periodoMinimo">Período Mínimo (em dias):</label>
											<input min="1" type="number" name="periodoMinimo" class="form-control" />
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group mt-4">
											<!-- Adicione a classe "mb-0" para remover a margem inferior -->
											<input type="submit" value="Pesquisar" class="btn btn-primary col-12" />
										</div>
									</div>
								</div>

							</div>

						</form>
					</div>

				</div>

			}
		</div>
		<div class="container-fluid text-dark mt-4 py-5 contatos-section">
			<div class="container text-center">
				<h2 class="display-4 fw-normal">Contactos</h2>
				<p class="lead">HabitAqui - site de arrendamento de casas</p>

				<!-- Informações de Contato Reais -->
				<div class="row mt-4">
					<div class="col-md-4">
						<h5>Sede</h5>
						<p>Rua de Cima, 30<br>3000-100 Coimbra</p>
					</div>
					<div class="col-md-4">
						<h5>Mail</h5>
						<p>info@HabitAqui.pt</p>
					</div>
					<div class="col-md-4">
						<h5>Telefone</h5>
						<p>239 234 900</p>
					</div>
				</div>

				<p class="lead mt-4">Filiais em: Figueira da Foz, Mira, Cantanhede, Mealhada, Porto e Lisboa</p>
			</div>
		</div>
	</div>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

<!--
public IActionResult Index(string TextoAPesquisar, TipoHabitacao? Tipo,DateTime? dataInicio,DateTime? dataFim,int? periodoMinimo)
{
	ViewData["ListaDeCategorias"] = new SelectList(_context.Habitacao.OrderBy(c => c.Localizacao).ToList(), "Id", "Localizacao");

	var query = _context.Arrendamento.AsQueryable();

	// Aplicar filtro para TextoAPesquisar se estiver preenchido
	if (!string.IsNullOrWhiteSpace(TextoAPesquisar))
	{
		query = query.Where(c => c.habitacao.Localizacao.Contains(TextoAPesquisar));
	}

	// Aplicar filtro para Tipo se estiver preenchido
	if (Tipo.HasValue)
	{
		query = query.Where(c => c.habitacao.Tipo == Tipo);
		//query = query.Where(c => c.DataFim > DateTime.Now);
	}

	if (dataInicio.HasValue)
	{
		query = query.Where(c => c.DataInicio >= dataInicio);
	}

	if (dataFim.HasValue)
	{
		query = query.Where(c => c.DataFim <= dataFim);
	}

	if (periodoMinimo.HasValue)
	{
		query = query.Where(c => c.PeriodoMinimo >= periodoMinimo);
	}



	var resultado = query.ToList();

	return View(resultado);

}
-->
