@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Home Page";
}
<div id="carouselDestaques" class="carousel slide m-0" data-bs-ride="carousel">
<div class="carousel-indicators">
<button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="0"
class="active" aria-label="Slide 1" aria-current="true"></button>
<button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="1" arialabel="
Slide 2" class=""></button>
<button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="2" arialabel="
Slide 3" class=""></button>
</div>
<div class="carousel-inner">
<div class="carousel-item active banner_01">
<div class="container">
<div class="carousel-caption">
<h1 class=" text-warning">Encontra a casa ideal!</h1>
<p class=" text-white">Para os diferentes gostos e nos mais variados locais.</p>
<p><a class="btn btn-lg btn-warning " href="#">Junta-te a nós</a></p>
</div>
</div>
</div>
        <div class="carousel-item banner_06">
            <div class="container">
                <div class="carousel-caption text-white">
                    <h1>Alugar casa.</h1>
	                <p>

		                Venha colaborar conosco neste mundo que é o mercado de aluguer<br/>
		                Coloque a sua casa a arrendar e ganhe uma renda extra!
	                </p>
                    <p><a class="btn btn-lg btn-success" href="#">Regista-te!</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item banner_02">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Muitas casas para você conhecer.</h1>
                    <p>Temos a maior oferta de casas para arrendamento do país</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Conhecer</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDestaques"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDestaques"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container bg-white">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Oferta & Preços</h1>
        <p class="fs-5 text-muted">
	        Na nossa plataforma de alojamento residencial, 
	        oferecemos uma ampla variedade de opções para atender às tuas necessidades de habitação e orçamento.
	        Independentemente de estares à procura do teu próximo lar ou de um novo local para viver, 
	        temos a solução certa para ti.
        </p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Condução defensiva</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        € 2000<small class="text-muted
fw-light"></small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Aulas prioritárias</li>
                        <li>1 instrutor dedicado</li>
                        <li>Automóveis e Motas</li>
                        <li>Instrutor virtual</li>
                        <li>Centro de apoio online exclusivo</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                        Saber
                        mais
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Automóvel + Moto</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        € 1500<small class="text-muted
fw-light"></small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>1 instrutor dedicado</li>
                        <li>Veículos novos</li>
                        <li>Centro de apoio online exclusivo</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">
                        saber
                        mais
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Automóvel</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        € 1000<small class="text-muted
fw-light"></small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Aulas partilhadas</li>
                        <li>Veículos partilhados</li>
                        <li>Testes online</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">
                        saber
                        mais
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>