@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .register-container {
        max-width: 400px;
        margin: auto;
        margin-top: 5px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

        .register-container h1 {
            color: #007bff;
            text-align: center;
        }

    .form-floating {
        margin-bottom: 1rem;
    }

        .form-floating input {
            padding-left: 40px; /* Espaçamento para o ícone */
        }

    .input-group-prepend {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-register {
        color: #ffffff;
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-register:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
</style>

<div class="register-container">
    <h1>@ViewData["Title"]</h1>

    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                <input asp-for="Input.Email" class="form-control" id="inputEmail" autocomplete="username" aria-required="true" />
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="inputFirstName" class="form-label">Primeiro Nome</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input asp-for="Input.PrimeiroNome" class="form-control" id="inputFirstName" aria-required="true" />
            </div>
            <span asp-validation-for="Input.PrimeiroNome" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="inputLastName" class="form-label">Último Nome</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input asp-for="Input.UltimoNome" class="form-control" id="inputLastName" aria-required="true" />
            </div>
            <span asp-validation-for="Input.UltimoNome" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="inputBirthDate" class="form-label">Data de Nascimento</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa-solid fa-calendar-days"></i>
                </span>
                <input asp-for="Input.DataNascimento" class="form-control" id="inputBirthDate" aria-required="true" />
            </div>
            <span asp-validation-for="Input.DataNascimento" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="inputNIF" class="form-label">NIF</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa-regular fa-id-card"></i>
                </span>
                <input asp-for="Input.NIF" class="form-control" id="inputNIF" aria-required="true" />
            </div>
            <span asp-validation-for="Input.NIF" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input asp-for="Input.Password" class="form-control" id="inputPassword" autocomplete="new-password" aria-required="true" />
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="inputConfirmPassword" class="form-label">Confirmar Password</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input asp-for="Input.ConfirmPassword" class="form-control" id="inputConfirmPassword" autocomplete="new-password" aria-required="true" />
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-register">Registar</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
