@model Ficha1_P1_V1.Models.Curso

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Detalhes de Registo de Curso</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grau)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar à Listagem</a>
</div>
