@model Ficha1_P1_V1.Models.Aluno

@{
    ViewData["Title"] = "Apagar";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Apagar Registo de Aluno</h1>

<h3>Tem a certeza de que quer apagar este registo de Aluno?</h3>
<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à Listagem</a>
    </form>
</div>
